// Map page (/map)

.map-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .map-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .map-wrapper {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
