// Not found page (/*)

.not-found {
  text-align: center;
  margin: 5em;
}
.not-found p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1.2rem; /* Adjust font size as needed */
  color: #333; /* Change color if needed */
}
